################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StrengthAI.WebUI/.vs/StrengthAI.WebUI/v17/.suo
