<div>
    <p-selectButton
      [options]='unitSystemOptions'
      [(ngModel)]='unitSystem' />

    <p-selectButton
      [options]='sexOptions'
      [(ngModel)]='sex' />

    <p-dropdown
      [options]="activityLevelOptions"
      [(ngModel)]="activityLevel"
      placeHolder="Select an Activity Level"
      optionLabel="label" />

<!--      Activity Level - Dropdown
      Age - Spinner button
      Body weight - Spinner button
      Height - Spinner Button
      Body fat (optional) - Spinner Button-->
</div>
