<div>
  <br />
  <p-card>
  <div class="card flex justify-content-center">
    <p-selectButton
      [options]='unitSystemOptions'
      [(ngModel)]='unitSystem' />
  </div>
  <br />
    <p-selectButton
      [options]='sexOptions'
      [(ngModel)]='sex' />
  <br />
    <p-dropdown
      [options]="activityLevelOptions"
      [(ngModel)]="activityLevel"
      placeholder="Select an Activity Level"
      optionLabel="label" />
  <br />
  <br />
    <p-floatLabel>
      <p-inputNumber
        inputId="weightInput"
        [(ngModel)]="weight"
        [showButtons]="true"
        [min]="2"
        [max]="500" />
        <label for="weightInput">Weight</label>
    </p-floatLabel>
  <br />
    <p-floatLabel>
      <p-inputNumber
      inputId="heightInput"
      [(ngModel)]="height"
      [showButtons]="true"
      [min]="2"
      [max]="500" />
      <label for="heightInput">Height</label>
    </p-floatLabel>
  <br />
    <p-floatLabel>
      <p-inputNumber
        inputId="ageInput"
        [(ngModel)]="age"
        [showButtons]="true"
        [min]="18"
        [max]="80" />
        <label for="ageInput">Age</label>
    </p-floatLabel>
  <br />
    <p-floatLabel>
      <p-inputNumber
        inputId="boodyFatInput"
        [(ngModel)]="bodyfat"
        [showButtons]="true"
        [min]="5"
        [max]="50" />
      <label for="bodyFatInput">Body fat %</label>
    </p-floatLabel>
  <br />
  <p-button (click)="calcTDEE()">Calculate</p-button>
  <p> {{tdee}}</p>
  </p-card>
</div>
